@import "tailwindcss";

@plugin "tailwindcss-animate";

:root {
  --radius: 0.625rem;
}

.default {
  --background: oklch(1 0 0);
  --foreground: oklch(0.141 0.005 285.823);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.141 0.005 285.823);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.141 0.005 285.823);
  --primary: oklch(0.21 0.006 285.885);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.967 0.001 286.375);
  --secondary-foreground: oklch(0.21 0.006 285.885);
  --muted: oklch(0.967 0.001 286.375);
  --muted-foreground: oklch(0.552 0.016 285.938);
  --accent: oklch(0.967 0.001 286.375);
  --accent-foreground: oklch(0.21 0.006 285.885);
  --destructive: oklch(0.577 0.245 27.325);
  --destructive-foreground: oklch(0.577 0.245 27.325);
  --border: oklch(0.92 0.004 286.32);
  --input: oklch(0.92 0.004 286.32);
  --ring: oklch(0.7 0.006 286.286);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.141 0.005 285.823);
  --sidebar-primary: oklch(0.21 0.006 285.885);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: #989ea6;
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(0.92 0.004 286.32);
  --sidebar-ring: oklch(0.871 0.006 286.286);
}

/* .default-dark {
  --background: oklch(0.141 0.005 285.823);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.141 0.005 285.823);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.141 0.005 285.823);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.985 0 0);
  --primary-foreground: oklch(0.21 0.006 285.885);
  --secondary: oklch(0.274 0.006 286.033);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.274 0.006 286.033);
  --muted-foreground: oklch(0.705 0.015 286.067);
  --accent: oklch(0.274 0.006 286.033);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.396 0.141 25.723);
  --destructive-foreground: oklch(0.637 0.237 25.331);
  --border: oklch(0.274 0.006 286.033);
  --input: oklch(0.274 0.006 286.033);
  --ring: oklch(0.442 0.017 285.786);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.141 0.005 285.823);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: #272d36;
  --sidebar-accent-foreground: oklch(0.21 0.006 285.885);
  --sidebar-border: oklch(0.274 0.006 286.033);
  --sidebar-ring: oklch(0.442 0.017 285.786);
} */

.theme1 {
  --primary: #18181b;
  --primary-foreground: #fafafa;
  --accent: #7382e0;
  --accent-foreground: #18181b;
  --destructive: #e7000b;
  --background: #f06bff;
  --foreground: black;
  /* --sidebar: #6d9fe177; */
  --sidebar-foreground: black;
  --sidebar-accent: #2f80e4;
  --sidebar-accent-foreground: white;
  /* --header: #6da0e1; */
  --header-foreground: black;
  --card: #2f80e4;
  --card-foreground: white;
  --ring: #252525;
  --popover: #d899c7;
  --popover-foreground: #09090b;
  --isComplete: #005f5a;
  --isComplete-foreground: white;
  background-image: url("/theme1(L).png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  width: 100%;
}

.theme1-dark {
  --primary: #fafafa;
  --primary-foreground: #18181b;
  --accent: #16344d;
  --accent-foreground: #fafafa;
  --destructive: #82181a;
  --background: #24046f;
  --foreground: white;
  /* --sidebar: #0e101c; */
  --sidebar-foreground: white;
  --sidebar-accent: #002151;
  --sidebar-accent-foreground: black;
  /* --header: #0e101c; */
  --header-foreground: white;
  --card: #002151;
  --card-foreground: white;
  --popover: #061327;
  --ring: white;
  --popover-foreground: #fafafa;
  --isComplete: #005f5a;
  --isComplete-foreground: white;
  background-image: url("/theme1(D).png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  width: 100%;
}

.theme2 {
  --primary: #18181b;
  --primary-foreground: #fafafa;
  --accent: #00a77c;
  --accent-foreground: #18181b;
  --destructive: #e7000b;
  --background: #93fd70;
  --foreground: black;
  /* --sidebar: #6d9fe177; */
  --sidebar-foreground: black;
  --sidebar-accent: #007b6d;
  --sidebar-accent-foreground: white;
  /* --header: #6da0e1; */
  --header-foreground: black;
  --card: #007b6d;
  --card-foreground: white;
  --ring: #252525;
  --popover: #4cd37d;
  --popover-foreground: #09090b;
  --isComplete: #005f5a;
  --isComplete-foreground: white;
  background-image: url("/theme2(L).png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  width: 100%;
}

.theme2-dark {
  --primary: #fafafa;
  --primary-foreground: #18181b;
  --accent: #043c32;
  --accent-foreground: #fafafa;
  --destructive: #82181a;
  --background: #186446;
  --foreground: white;
  /* --sidebar: #051f1f; */
  --sidebar-foreground: white;
  --sidebar-accent: #0a3535;
  --sidebar-accent-foreground: black;
  /* --header: #051f1f; */
  --header-foreground: white;
  --card: #0a3535;
  --card-foreground: white;
  --popover: #09503d;
  --ring: white;
  --popover-foreground: #fafafa;
  --isComplete: #005f5a;
  --isComplete-foreground: white;
  background-image: url("/theme2(D).png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  width: 100%;
}

.theme3 {
  --primary: #18181b;
  --primary-foreground: #fafafa;
  --accent: #477dfb;
  --accent-foreground: #18181b;
  --destructive: #e7000b;
  --background: #2d9ea4;
  --foreground: black;
  /* --sidebar: #6d9fe177; */
  --sidebar-foreground: black;
  --sidebar-accent: #1365c2;
  --sidebar-accent-foreground: white;
  /* --header: #6da0e1; */
  --header-foreground: black;
  --card: #1365c2;
  --card-foreground: white;
  --ring: #252525;
  --popover: #549bff;
  --popover-foreground: #09090b;
  --isComplete: #005f5a;
  --isComplete-foreground: white;
  background-image: url("/theme3(L).jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  width: 100%;
}

.theme3-dark {
  --primary: #fafafa;
  --primary-foreground: #18181b;
  --accent: #00447b;
  --accent-foreground: #fafafa;
  --destructive: #82181a;
  --background: #004f73;
  --foreground: white;
  /* --sidebar: #0a112e; */
  --sidebar-foreground: white;
  --sidebar-accent: #0b307a;
  --sidebar-accent-foreground: black;
  /* --header: #0a112e; */
  --header-foreground: white;
  --card: #0b307a;
  --card-foreground: white;
  --popover: #002c4b;
  --ring: white;
  --popover-foreground: #fafafa;
  --isComplete: #005f5a;
  --isComplete-foreground: white;
  background-image: url("/theme3(D).jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  width: 100%;
}

.theme4 {
  --primary: #18181b;
  --primary-foreground: #fafafa;
  --accent: #ea8c99;
  --accent-foreground: #18181b;
  --destructive: #e7000b;
  --background: #fdab98;
  --foreground: black;
  /* --sidebar: #6d9fe177; */
  --sidebar-foreground: black;
  --sidebar-accent: #60acd0;
  --sidebar-accent-foreground: white;
  /* --header: #6da0e1; */
  --header-foreground: black;
  --card: #60acd0;
  --card-foreground: white;
  --ring: #252525;
  --popover: #e9aaaa;
  --popover-foreground: #09090b;
  --isComplete: #005f5a;
  --isComplete-foreground: white;
  background-image: url("/theme4(L).jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  width: 100%;
}

.theme4-dark {
  --primary: #fafafa;
  --primary-foreground: #18181b;
  --accent: #3a2b64;
  --accent-foreground: #fafafa;
  --destructive: #82181a;
  --background: #1f1d5b;
  --foreground: white;
  /* --sidebar: #0a112e; */
  --sidebar-foreground: white;
  --sidebar-accent: #4d1a50;
  --sidebar-accent-foreground: black;
  /* --header: #0a112e; */
  --header-foreground: white;
  --card: #4d1a50;
  --card-foreground: white;
  --popover: #2b1448;
  --ring: white;
  --popover-foreground: #fafafa;
  --isComplete: #005f5a;
  --isComplete-foreground: white;
  background-image: url("/theme4(D).jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  width: 100%;
}

.theme5 {
  --primary: #18181b;
  --primary-foreground: #fafafa;
  --accent: #1498c8;
  --accent-foreground: #18181b;
  --destructive: #e7000b;
  --background: #177cff;
  --foreground: black;
  /* --sidebar: #6d9fe177; */
  --sidebar-foreground: black;
  --sidebar-accent: #2aa0a0;
  --sidebar-accent-foreground: white;
  /* --header: #6da0e1; */
  --header-foreground: black;
  --card: #2aa0a0;
  --card-foreground: white;
  --ring: #252525;
  --popover: #52e1c2;
  --popover-foreground: #09090b;
  --isComplete: #005f5a;
  --isComplete-foreground: white;
  background-image: url("/theme5(L).jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  width: 100%;
}

.theme5-dark {
  --primary: #fafafa;
  --primary-foreground: #18181b;
  --accent: #16344d;
  --accent-foreground: #fafafa;
  --destructive: #82181a;
  --background: #0e362c;
  --foreground: white;
  /* --sidebar: #0a112e; */
  --sidebar-foreground: white;
  --sidebar-accent: #082336;
  --sidebar-accent-foreground: black;
  /* --header: #0a112e; */
  --header-foreground: white;
  --card: #082336;
  --card-foreground: white;
  --popover: #001b2e;
  --ring: white;
  --popover-foreground: #fafafa;
  --isComplete: #005f5a;
  --isComplete-foreground: white;
  background-image: url("/theme5(D).jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  width: 100%;
}

.theme6 {
  --primary: #18181b;
  --primary-foreground: #fafafa;
  --accent: #8c6bce;
  --accent-foreground: #18181b;
  --destructive: #e7000b;
  --background: #91b3fd;
  --foreground: black;
  /* --sidebar: #6d9fe177; */
  --sidebar-foreground: black;
  --sidebar-accent: #7658b2;
  --sidebar-accent-foreground: white;
  /* --header: #6da0e1; */
  --header-foreground: black;
  --card: #7658b2;
  --card-foreground: white;
  --ring: #252525;
  --popover: #a79cfa;
  --popover-foreground: #09090b;
  --isComplete: #005f5a;
  --isComplete-foreground: white;
  background-image: url("/theme6(L).jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  width: 100%;
}

.theme6-dark {
  --primary: #fafafa;
  --primary-foreground: #18181b;
  --accent: #16344d;
  --accent-foreground: #fafafa;
  --destructive: #82181a;
  --background: #16344d;
  --foreground: white;
  /* --sidebar: #1d0a13; */
  --sidebar-foreground: white;
  --sidebar-accent: #3a1438;
  --sidebar-accent-foreground: black;
  /* --header: #1d0a13; */
  --header-foreground: white;
  --card: #3a1438;
  --card-foreground: white;
  --popover: #120a2f;
  --ring: white;
  --popover-foreground: #fafafa;
  --isComplete: #005f5a;
  --isComplete-foreground: white;
  background-image: url("/theme6(D).jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  width: 100%;
}

@theme inline {
  --color-isComplete: var(--isComplete);
  --color-isComplete-foreground: var(--isComplete-foreground);
  --color-header: var(--header);
  --color-header-foreground: var(--header-foreground);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background;
    @apply text-foreground;
  }
}
