@import "tailwindcss";

@plugin "tailwindcss-animate";

:root {
  --radius: 0.625rem;
}

.default {
  --background: oklch(1 0 0);
  --foreground: oklch(0.141 0.005 285.823);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.141 0.005 285.823);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.141 0.005 285.823);
  --primary: oklch(0.21 0.006 285.885);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.967 0.001 286.375);
  --secondary-foreground: oklch(0.21 0.006 285.885);
  --muted: oklch(0.967 0.001 286.375);
  --muted-foreground: oklch(0.552 0.016 285.938);
  --accent: oklch(0.967 0.001 286.375);
  --accent-foreground: oklch(0.21 0.006 285.885);
  --destructive: oklch(0.577 0.245 27.325);
  --destructive-foreground: oklch(0.577 0.245 27.325);
  --border: oklch(0.92 0.004 286.32);
  --input: oklch(0.92 0.004 286.32);
  --ring: oklch(0.871 0.006 286.286);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.141 0.005 285.823);
  --sidebar-primary: oklch(0.21 0.006 285.885);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: #989ea6;
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(0.92 0.004 286.32);
  --sidebar-ring: oklch(0.871 0.006 286.286);
}

.default-dark {
  --background: oklch(0.141 0.005 285.823);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.141 0.005 285.823);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.141 0.005 285.823);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.985 0 0);
  --primary-foreground: oklch(0.21 0.006 285.885);
  --secondary: oklch(0.274 0.006 286.033);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.274 0.006 286.033);
  --muted-foreground: oklch(0.705 0.015 286.067);
  --accent: oklch(0.274 0.006 286.033);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.396 0.141 25.723);
  --destructive-foreground: oklch(0.637 0.237 25.331);
  --border: oklch(0.274 0.006 286.033);
  --input: oklch(0.274 0.006 286.033);
  --ring: oklch(0.442 0.017 285.786);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.21 0.006 285.885);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: #272d36;
  --sidebar-accent-foreground: oklch(0.21 0.006 285.885);
  --sidebar-border: oklch(0.274 0.006 286.033);
  --sidebar-ring: oklch(0.442 0.017 285.786);
}

.aurora {
  --primary: #18181b;
  --primary-foreground: #fafafa;
  --accent: #7ad5ee;
  --accent-foreground: #18181b;
  --destructive: #e7000b;
  /*? default  👇👇👇👇👇👇*/
  /* --background: #9ae8b7; */
  /* --sidebar: #6d9fe177; */
  /* --header: #6da0e1; */
  /*? default  ☝️☝️☝️☝️☝️*/
  --foreground: black;
  --sidebar-foreground: black;
  /* ? theme 1 🐽*/
  /*! theme 1 sidebar accent 👇 */
  --sidebar-accent: #2f74c9;
  /*! theme 1 card 👇 */
  --card: #2f80e4;
  /*! theme 1 background 👇 */
  background-image: url("/theme1(L).png");

  /* ? 🐽*/

  /* ? theme 2 👀 */
  /*! theme 2 sidebar accent 👇 */
  /* --sidebar-accent: #197f81; */
  /*! theme 2 card 👇 */
  /* --card: #197f81; */
  /*! theme 2 background 👇 */
  /* background-image: url("/theme2(L).png"); */

  /* ? 👀*/

  /* ? theme 3 👽 */
  /*! theme 3 sidebar accent 👇 */
  /* --sidebar-accent: #2f74c9; */
  /*! theme 3 card 👇 */
  /* --card: #020bb8; */
  /*! theme 3 background 👇 */
  /* background-image: url("/theme3(L).png"); */

  /* ? 👽*/

  /* ? theme 4 🦄 */
  /*! theme 4 sidebar accent 👇 */
  /* --sidebar-accent: #fb937c; */
  /*! theme 4 card 👇 */
  /* --card: #f77659; */
  /*! theme 4 background 👇 */
  /* background-image: url("/theme4(L).jpg"); */

  /* ? 🦄*/

  /* ? theme 5 🤖*/
  /*! theme 5 sidebar accent 👇 */
  /* --sidebar-accent: #2aa0a0; */
  /*! theme 5 card 👇 */
  /* --card: #2aa0a0; */
  /*! theme 5 background 👇 */
  /* background-image: url("/theme5(L).jpg"); */

  /* ? 🤖*/

  /* ? theme 6 👾*/
  /*! theme 6 sidebar accent 👇 */
  /* --sidebar-accent: #014fa8; */
  /*! theme 6 card 👇 */
  /* --card: #014fa8; */
  /*! theme 6 background 👇 */
  /* background-image: url("/theme6(L).jpg"); */

  /* ? 👾*/

  /* ? theme 7 👻*/
  /*! theme 7 sidebar accent 👇 */
  /* --sidebar-accent: #7658b2; */
  /*! theme 7 card 👇 */
  /* --card: #ffc400; */
  /* --card: #7658b2; */
  /*! theme 7 background 👇 */
  /* background-image: url("/theme7(L).jpg"); */

  /* ? 👻*/

  /* ? theme 9 🐲*/
  /*! theme 9 sidebar accent 👇 */
  /* --sidebar-accent: #ff3232; */
  /*! theme 9 card 👇 */
  /* --card: #ff3232; */
  /*! theme 9 background 👇 */
  /* background-image: url("/theme9(L).png"); */
  /* ? 🐲*/

  /* ? theme 10 🐾*/
  /*! theme 10 sidebar accent 👇 */
  /* --sidebar-accent: #ba96c1; */
  /*! theme 10 slidebar background color 👇 */
  /* --sidebar: #dedede; */
  /*! theme 10 header 👇👇 */
  /* --header: #dedede; */
  /*! theme 10 card 👇 */
  /* --card: #b677ae; */
  /*! theme 10 background 👇 */
  /* background: #dcd7d5; */
  /* ? 🐾*/

  /* ? theme 11 🦖*/
  /*! theme 11 sidebar accent 👇 */
  /* --sidebar-accent: #112250; */
  /*! theme 11 slidebar background color 👇 */
  /* --sidebar: #f5f0e9; */
  /*! theme 11 header 👇👇 */
  /* --header: #f5f0e9; */
  /*! theme 11 card 👇 */
  /* --card: #112250; */
  /*! theme 11 background 👇 */
  /* background: #d9cbc2; */

  /* ? 🦖*/

  /* ? theme 12 🐚*/
  /*! theme 12 sidebar accent 👇 */
  /* --sidebar-accent: #8fca97; */
  /*! theme 12 slidebar background color 👇 */
  /* --sidebar: #f0e1e5; */
  /*! theme 12 header 👇👇 */
  /* --header: #f0e1e5; */
  /*! theme 12 slidebar-accent-foreground */
  /* --sidebar-accent-foreground: #2d4839; */
  /*! theme 12 card 👇 */
  /* --card: #8fca97; */
  /*! theme 12 card-foreground */
  /* --card-foreground: #2d4839; */
  /*! theme 12 background 👇 */
  /* background: #eed4db; */
  /* ? 🐚*/

  /* ? theme 13 🐥*/
  /*! theme 13 sidebar accent 👇 */
  /* --sidebar-accent: #c43670; */
  /*! theme 13 slidebar background color 👇 */
  /* --sidebar: #fbf4eb; */
  /*! theme 13 header 👇👇 */
  /* --header: #fbf4eb; */
  /*! theme 13 card 👇 */
  /* --card: #c43670; */
  /*! theme 13 card-foreground */
  /* --card-foreground: #fbd9e5; */
  /*! theme 13 background 👇 */
  /* background: #fbd9e5; */
  /* ? 🐥*/

  /* ? theme 14 🦋*/
  /*! theme 14 sidebar accent 👇 */
  /* --sidebar-accent: #683924; */
  /*! theme 14 slidebar background color 👇 */
  /* --sidebar: #f9ece6; */
  /*! theme 14 header 👇👇 */
  /* --header: #f9ece6; */
  /*! theme 14 card 👇 */
  /* --card: #683924; */
  /*! theme 14 background 👇 */
  /* background: #f2d9ce; */
  /* ? 🦋*/

  /* ? theme 15 ✨*/
  /*! theme 15 sidebar accent 👇 */
  /* --sidebar-accent: #f4790d; */
  /*! theme 15 slidebar background color 👇 */
  /* --sidebar: #69b6b9; */
  /*! theme 15 header 👇👇 */
  /* --header: #69b6b9; */
  /*! theme 15 card 👇 */
  /* --card: #f4790d; */
  /*! theme 15 background 👇 */
  /* background: #3c9a9e; */
  /* ? ✨*/

  --sidebar-accent-foreground: white;

  --header-foreground: black;

  --card-foreground: white;

  --ring: #252525;
  --popover: #49afea;
  --popover-foreground: #09090b;
  --isComplete: #005f5a;
  --isComplete-foreground: white;

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  width: 100%;
}

.aurora-dark {
  --primary: #fafafa;
  --primary-foreground: #18181b;
  --accent: #16344d;
  --accent-foreground: #fafafa;
  --destructive: #82181a;
  /* --background: #0e101c; */
  --sidebar-accent-foreground: white;
  --header-foreground: white;
  --card-foreground: white;
  --foreground: white;

  /* ? theme 1 🐽*/
  /*! theme 1 sidebar bg color  👇*/
  --sidebar: #0e101c;
  /*! theme 1 sidebar accent  👇*/
  --sidebar-accent: #153649;
  /*! theme 1 header bg color  👇*/
  --header: #0e101c;
  /*! theme 1 card 👇 */
  --card: #153649;
  /*! theme 1 background 👇 */
  background-image: url("/theme1(D).png");

  /* ? 🐽*/

  /* ? theme 2 👀 */
  /*! theme 2 sidebar bg color  👇*/
  /* --sidebar: #051f1f; */
  /*! theme 2 sidebar accent  👇*/
  /* --sidebar-accent: #0a3939; */
  /*! theme 2 header bg color  👇*/
  /* --header: #051f1f; */
  /*! theme 2 card 👇 */
  /* --card: #072b2b; */
  /*! theme 2 background 👇*/
  /* background-image: url("/theme2(D).png"); */

  /* ? 👀*/

  /* ? theme 3 👽 */
  /*! theme 3 sidebar bg color  👇*/
  /* --sidebar: #0a112e; */
  /*! theme 3 sidebar accent  👇*/
  /* --sidebar-accent: #1b318b; */
  /*! theme 3 header bg color  👇*/
  /* --header: #0a112e; */
  /*! theme 3 card 👇 */
  /* --card: #182350; */
  /*! theme 3 background 👇*/
  /* background-image: url("/theme3(D).png"); */

  /* ? 👽*/

  /* ? theme 4 🦄 */
  /*! theme 4 sidebar bg color  👇*/
  /* --sidebar: #0a112e; */
  /*! theme 4 sidebar accent  👇*/
  /* --sidebar-accent: #1b318b; */
  /*! theme 4 header bg color  👇*/
  /* --header: #0a112e; */
  /*! theme 4 card 👇 */
  /* --card: #182350; */
  /*! theme 4 background 👇 */
  /* background-image: url("/theme4(D).jpg"); */

  /* ? 🦄*/

  /* ? theme 5 🤖*/
  /*! theme 5 sidebar bg color  👇*/
  /* --sidebar: #0a112e; */
  /*! theme 5 sidebar accent  👇*/
  /* --sidebar-accent: #1b318b; */
  /*! theme 5 header bg color  👇*/
  /* --header: #0a112e; */
  /*! theme 5 card 👇 */
  /* --card: #001631; */
  /*! theme 5 background 👇 */
  /* background-image: url("/theme5(D).jpg"); */

  /* ? 🤖*/

  /* ? theme 6 👾*/
  /*! theme 6 sidebar bg color  👇*/
  /* --sidebar: #0a112e; */
  /*! theme 6 sidebar accent  👇*/
  /* --sidebar-accent: #1b318b; */
  /*! theme 6 header bg color  👇*/
  /* --header: #0a112e; */
  /*! theme 6 card 👇 */
  /* --card: #001631; */
  /*! theme 6 background 👇 */
  /* background-image: url("/theme6(D).jpg"); */

  /* ? 👾*/

  /* ? theme 7 👻*/
  /*! theme 7 sidebar bg color  👇*/
  /* --sidebar: #1d0a13; */
  /*! theme 7 sidebar accent  👇*/
  /* --sidebar-accent: #5d203d; */
  /*! theme 7 header bg color  👇*/
  /* --header: #1d0a13; */
  /*! theme 7 card 👇 */
  /* --card: #47182f; */
  /*! theme 7 background 👇 */
  /* background-image: url("/theme7(D).jpg"); */

  /* ? 👻*/

  /* ? theme 9 🐲*/
  /*! theme 9 sidebar bg color  👇*/
  /* --sidebar: #1d0a13; */
  /*! theme 9 sidebar accent  👇*/
  /* --sidebar-accent: #5d203d; */
  /*! theme 9 header bg color  👇*/
  /* --header: #1d0a13; */
  /*! theme 9 card 👇 */
  /* --card: #501b35; */
  /*! theme 9 background 👇 */
  /* background-image: url("/theme9(D).png"); */

  /* ? 🐲*/

  /* ? theme 10 🐾*/
  /*! theme 10 sidebar bg color  👇*/
  /* --sidebar: #1f133b; */
  /*! theme 10 sidebar accent  👇*/
  /* --sidebar-accent: #7559cb; */
  /*! theme 10 header bg color  👇*/
  /* --header: #1f133b; */
  /*! theme 10 card 👇 */
  /* --card: #7559cb; */
  /*! theme 10 background 👇 */
  /* background: #332063; */

  /* ? 🐾*/

  /* ? theme 11 🦖*/
  /*! theme 11 sidebar bg color  👇*/
  /* --sidebar: #0e1a3f; */
  /*! theme 11 sidebar accent  👇*/
  /* --sidebar-accent: #d9cbc2; */
  /*! theme 11 slidebar-accent-forground */
  /* --sidebar-accent-foreground: #112250; */
  /*! theme 11 header bg color  👇*/
  /* --header: #0e1a3f; */
  /*! theme 11 card 👇 */
  /* --card: #d9cbc2; */
  /* ! theme 11 card-foreground */
  /* --card-foreground: #112250; */
  /*! theme 11 background 👇 */
  /* background: #0c1737; */

  /* ? 🦖*/

  /* ? theme 12 🐚*/
  /*! theme 12 sidebar bg color  👇*/
  /* --sidebar: #0e251b; */
  /*! theme 12 sidebar accent  👇*/
  /* --sidebar-accent: #bd7880; */
  /*! theme 12 header bg color  👇*/
  /* --header: #0e251b; */
  /*! theme 12 card 👇 */
  /* --card: #bd7880; */
  /*! theme 12 background 👇 */
  /* background: #102b1f; */

  /* ? 🐚*/

  /* ? theme 13 🐥*/
  /*! theme 13 sidebar bg color  👇*/
  /* --sidebar: #503a4a; */
  /*! theme 13 sidebar accent  👇*/
  /* --sidebar-accent: #321f2d; */
  /*! theme 13 header bg color  👇*/
  /* --header: #503a4a; */
  /*! theme 13 card 👇 */
  /* --card: #b89ac9; */
  /*! theme 13 background 👇 */
  /* background: #321f2d; */

  /* ? 🐥*/

  /* ? theme 14 🦋*/
  /*! theme 14 sidebar bg color  👇*/
  /* --sidebar: #2d1d11; */
  /*! theme 14 sidebar accent  👇*/
  /* --sidebar-accent: #a57865; */
  /*! theme 14 header bg color  👇*/
  /* --header: #2d1d11; */
  /*! theme 14 card 👇 */
  /* --card: #a57865; */
  /*! theme 14 background 👇 */
  /* background: #372414; */

  /* ? 🦋*/

  /* ? theme 15 ✨*/
  /*! theme 15 sidebar bg color  👇*/
  /* --sidebar: #011943; */
  /*! theme 15 sidebar accent  👇*/
  /* --sidebar-accent: #f0400f; */
  /*! theme 15 header bg color  👇*/
  /* --header: #011943; */
  /*! theme 15 card 👇 */
  /* --card: #f04004; */
  /*! theme 15 background 👇 */
  /* background: #001f54; */

  /* ? ✨*/

  --popover: #001b2e;
  --ring: white;
  --popover-foreground: #fafafa;
  --isComplete: #005f5a;
  --isComplete-foreground: white;

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  width: 100%;
}

@theme inline {
  --color-isComplete: var(--isComplete);
  --color-isComplete-foreground: var(--isComplete-foreground);
  --color-header: var(--header);
  --color-header-foreground: var(--header-foreground);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    /* background-color: oklch(0.21 0.006 285.885); */
    @apply bg-background;
    @apply text-foreground;
  }
}
